HOST=0.0.0.0
PORT=9012
APP_KEYS=appKey1,appKey2,appKey3,appKey4
API_TOKEN_SALT=replace-with-api-token-salt
ADMIN_JWT_SECRET=replace-with-admin-jwt-secret
TRANSFER_TOKEN_SALT=replace-with-transfer-token-salt
JWT_SECRET=replace-with-jwt-secret
STRAPI_ADMIN_BACKEND_URL=http://localhost:9012
STRAPI_PUBLIC_URL=http://localhost:9012
STRAPI_SEED_URL=http://localhost:9012
STRAPI_SEED_TOKEN=
IMAGE_TAG=1
DATABASE_CLIENT=postgres
# Local `npm run develop`: localhost + mapped Postgres port (5343)
# Docker Strapi service overrides these to sidago-postgres:5432 in docker-compose.yml
DATABASE_HOST=localhost
DATABASE_PORT=5343
DATABASE_NAME=sidago_strapi
DATABASE_SCHEMA=public
DATABASE_USERNAME=sidago
DATABASE_PASSWORD=sidago
DATABASE_SSL=false
DATABASE_SSL_SELF=false
DATABASE_CONNECTION_TIMEOUT=60000
